// shared key aliases
#define ______ &trans

#define HYPER    LS(LC(LA(LGUI)))
#define HYP(key) LS(LC(LA(LG(key))))
#define HPR(key) LS(LC(LA(LG(key))))

#define PV_SP_PLAYPAUSE HPR(N1)
#define PV_SP_NEXT      HPR(N2)
#define PV_SP_PREV      HPR(N3)
#define PV_SP_MUTE      HPR(N4)
#define PV_SP_VOLD      HPR(N5)
#define PV_SP_VOLU      HPR(N6)
#define PV_RORO         HPR(N8)
#define PV_SCRSVR       HPR(N9)
#define PV_SLEEP        LA(LG(C_POWER))
#define PV_VOICE        HPR(V)
